{
	"printWidth": 140,
	"singleQuote": true,
	"useTabs": true,
	"tabWidth": 4,
	"semi": true,
	"bracketSpacing": true,
	"endOfLine": "crlf",
	"overrides": [
		{
			"files": "{apps,libs}/**/*.html",
			"options": {
				"parser": "angular"
			}
		}
	]
}
