@import "../../../styles.scss";

.table-icon {
  cursor: pointer;
}



 .page-wrapper {
  .buttons{
    display: flex;
    justify-content: space-between;
  }

  .tables {
    p-table {
      tr {
       td {
        &.option-column {
          display: flex;
        }
        }
      }
    }
  }
}
