<app-modal modalID="confirmationModal">
  <div class="confirmation-modal-wrapper">
    <div class="confirmation-modal-wrapper__message mt-4">
      <h3>{{ confirmationMessage }}</h3>
    </div>
    <div class="confirmation-modal-wrapper__buttons mt-6">
      <p-button
        type="button"
        styleClass="p-button-secondary"
        label="Zamknij"
        (click)="closeModal($event)"
      >
      </p-button>
      <p-button
        type="button"
        (click)="confirmationFunction()"
        [label]="confirmationAcceptLabel"
      >
      </p-button>
    </div>
  </div>
</app-modal>
