<!-- Header -->
<header id="header">
  <nav class="nav-wrapper">
    <!-- App Name -->
    <a class="nav-wrapper__link" href="index.html">WebOrders</a>

    <div class="nav-wrapper__menu ml-10">
      <!-- Primary Navigation -->
      <ul class="">
        <!-- Navigation Links -->
        <li>
          <a class="p-mb-6" href="#" (click)="openModal($event)"
            >Logowanie/ Rejestracja</a
          >
        </li>
        <li>
          <a class="" href="#">Manage</a>
        </li>
        <li>
          <a class="" href="#">Upload</a>
        </li>
        <li>
          <a class="" href="about.html">About</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
