<!-- Header -->
<header id="header">
  <nav class="flex align-items-center justify-content-between nav-wrapper">
    <!-- App Name -->
    <div class="nav-wrapper__link">
      <a href="index.html">WebOrders</a>
    </div>

    <div class="nav-wrapper__menu flex">
      <!-- Primary Navigation -->
      <ul class="flex">
        <!-- Navigation Links -->
        <li
          *ngIf="!(auth.isAuthenticated$ | async); else authLinks"
          class="ml-4"
        >
          <a href="#" (click)="openModal($event)">Rejestracja</a>
        </li>
        <ng-template #authLinks>
          <li class="ml-4">
            <a href="">Zlecenia</a>
          </li>
          <li class="ml-4">
            <a href="">Nowe zlecenie</a>
          </li>
          <li class="ml-4">
            <a href="">Klienci</a>
          </li>
          <li class="ml-4">
            <a href="">Dodaj klienta</a>
          </li>
          <li class="ml-4" (click)="logOut($event)">
            <a class="" href="about.html">Wyloguj</a>
          </li>
        </ng-template>
        <li class="ml-4">
          <a class="" href="about.html">About</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
