<!-- Header -->
<header id="header">
  <nav class="flex align-items-center justify-content-between nav-wrapper">
    <!-- App Name -->
    <div class="nav-wrapper__link">
      <a href="index.html">WebOrders</a>
    </div>

    <div class="nav-wrapper__menu flex">
      <!-- Primary Navigation -->
      <ul class="flex">
        <!-- Navigation Links -->
        <li class="ml-4">
          <a href="#" (click)="openModal($event)">Rejestracja</a>
        </li>
        <li class="ml-4">
          <a class="" href="about.html">About</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
