<div
  class="modal-mask"
  appendTo="body"
  id="modal"
  [ngClass]="{ hidden: !modal.isModalOpen(modalID) }"
>
  <div class="modal-wrapper">
    <div>
      <div (click)="closeModal($event)"></div>

      <span class="hidden">&#8203;</span>

      <div>
        <div>
          <div class="modal-header">
            <div>
              <ng-content select="[heading]"></ng-content>
            </div>

            <div
              class="header-close"
              (click)="closeModal($event)"
              pTooltip="Zamknij"
            >
              &#x2715;
            </div>
          </div>
          <ng-content></ng-content>
        </div>
      </div>
    </div>
  </div>
</div>
