<app-modal modalID="showOrder">
	<div class="option-buttons">
		<p-button
			type="button"
			styleClass="p-button-secondary mb-2"
			label="Drukuj"
			(click)="generatePDF(activeOrder?.orderNumber)"
		></p-button>
	</div>
	<div class="order-modal-content">
		<div class="show-order-wrapper" id="htmlData">
			<h3 class="show-order-wrapper__number">Zlecenie spedycyjne nr: {{ activeOrder?.orderNumber }}</h3>
			<div class="show-order-wrapper__sides sides">
				<div class="sides__client">
					<h4>Zleceniodawca</h4>
					<p>Wiesław Dulowski Przedsiębiorstwo Handlowe "Omega"</p>
					<p>Bolesława Prusa 22, 58-310 Szczawno-Zdrój</p>
					<p>NIP: PL8861111165</p>
				</div>
				<div class="siders__carrier">
					<h4>Zleceniobiorca</h4>
					<p>{{ activeOrder?.carrierDetails?.name }}</p>
					<p>{{ activeOrder?.carrierDetails?.adress }}</p>
					<p>NIP: {{ activeOrder?.carrierDetails?.vat }}</p>
				</div>
			</div>
			<div class="separator"></div>
			<div class="show-order-wrapper__dates">
				<div>
					<h4>
						Załadunek -- <span>{{ convertedLoadDate | date : 'dd/MM/yyyy HH:mm' }}</span>
					</h4>
					<p>{{ activeOrder?.orderDetails?.loadAddress }} | {{ activeOrder?.orderDetails?.loadPlace }}</p>
				</div>
				<div class="separator"></div>
				<div>
					<h4>
						Rozładunek -- <span>{{ convertedUnloadDate | date : 'dd/MM/yyyy HH:mm' }}</span>
					</h4>
					<p>{{ activeOrder?.orderDetails?.unloadAddress }} | {{ activeOrder?.orderDetails?.unloadPlace }}</p>
				</div>
				<div class="separator"></div>
			</div>
			<div class="show-order-wrapper__details">
				<h4>Dane zlecenia:</h4>
				<table>
					<tbody>
						<tr>
							<td>Towar: {{ activeOrder?.orderDetails?.goods }} |</td>
							<td>Wymiary/Ilość: {{ activeOrder?.orderDetails?.dimension }} |</td>
							<td>Waga: {{ activeOrder?.orderDetails?.weight }}</td>
						</tr>
					</tbody>
				</table>
				<table>
					<tbody>
						<tr>
							<td>ADR: {{ activeOrder?.conditions?.isAdr ? activeOrder?.conditions?.adrDetails : 'Nie' }} |</td>
							<td>Chłodnia: {{ activeOrder?.conditions?.isFrigo ? activeOrder?.conditions?.frigoDetails : 'Nie' }} |</td>
							<td>Fix: {{ activeOrder?.conditions?.isFixed ? activeOrder?.conditions?.fixDetails : 'Nie' }}</td>
						</tr>
					</tbody>
				</table>
				<table>
					<tbody>
						<tr>
							<td>Kierowca: {{ activeOrder?.orderDetails?.driver }} |</td>
							<td>Pojazd: {{ activeOrder?.orderDetails?.truck }}</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="separator"></div>
			<div class="show-order-wrapper__conditions conditions">
				<h3 class="conditions__fracht">Fracht: {{ activeOrder?.conditions?.carrierFreight }} All-In</h3>
				<h3 class="conditions__payment">Termin płatności: {{ activeOrder?.conditions?.carrierTerm }} dni</h3>
			</div>
			<div class="separator"></div>
			<div class="remarks">
				<p>Dodatkowe Informacje: {{ activeOrder?.conditions?.description }}</p>
			</div>
			<div class="separator"></div>
			<div class="general-conditions">
				<p>Warunki realizacji i płatności:</p>
				<ul>
					<li class="red">
						Dokumenty wraz z FV proszę przesłać wyłacznie na maila: {{ 'biuro@omega-dulowski.pl' }}/ PROSIMY NIE WYSYŁAĆ
						DOKUMENTÓW POCZTĄ TRADYCYJNĄ.
					</li>
					<li>
						Termin płatności wynosi {{ activeOrder?.conditions?.carrierTerm }} dni jest liczony od daty wpływu FV
						zleceniobiorcy, wraz z dokumentami dotyczącymi tras zawartych w FV.
					</li>
					<li>
						Skrócony termin płatności: skonto 5%, płatność w 48h po otrzymaniu FV wraz z kompletem dokumentów przewozowych. W
						przypadku skonta FV powinna zostać pomniejszona o 5%, opis: 'FV pomniejszona o 5% ze względu na wcześniejszą
						płatność'.
					</li>
					<li class="red">Informujemy że nie akceptujemy faktur na których skonto udzeilane jest przez zewnętrzne podmioty.</li>
					<li>Frachty naliczone w walucie Euro: płatne w Euro na jedno podane konto walutowe.</li>
					<li>Transport krajowy wykonywany w opaciu o: Ustawa o Prawie Przewozowym i OWS.</li>
					<li>Transport międzynarodowy wykonywany w opaciu o:: konwencja CMR.</li>
				</ul>
			</div>
		</div>
	</div>
</app-modal>
