@import "../../../styles.scss";

:host ::ng-deep .add-order-wrapper {
  p-steps {
    .p-steps {
      .p-steps-item {
        .p-menuitem-link {
          width: 200px;
          background: transparent;
          cursor: pointer;
        }

        .p-steps-number {
          background: $darkContentColor;
          border-color: $tableHeaderBackground;
          color: $buttonHoverColor;
        }

        &.p-highlight {
          .p-steps-number {
            background: $buttonHoverColor;
            color: $contentColor;
            border-color: $buttonHoverColor;
            font-weight: 700;
          }

          .p-steps-title {
            color: $contentColor;
          }
        }
      }
    }
  }

  &__forms {
  }
}

.forms {
  &__order,
  &__customer,
  &__condition {
    width: 90%;
    margin: 0 auto;
    margin-top: 40px;
  }

  &__customer {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;

    .item-wrapper {
      flex-basis: 45%;
      border: 1px solid $tableBorder;
      border-radius: $ownRadius;
      padding: 1rem;

      &__buttons {
        display: flex;
        justify-content: space-between;
      }

      &__details {
        .item-details {
          &__wrapper {
            display: flex;
            align-items: center;

            p {
              width: 120px;
            }

            span {
              font-weight: 700;
            }
          }
        }
      }
    }

    .customer-buttons {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &__order {
    h2 {
      text-align: center;
    }

    .add-order-form-wrapper {
      form {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
      }

      &__pickup {
        flex-basis: 48%;
      }

      &__delivery {
        flex-basis: 48%;
      }

      &__goods {
        flex-basis: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        > div {
          flex-basis: 30%;
        }
      }

      &__driver {
        flex-basis: 100%;

        flex-basis: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        > div {
          flex-basis: 30%;
        }
      }

      &__buttons {
        flex-basis: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
  &__condition {
    .add-condition-form-wrapper {
      form {
        display: flex;
        flex-wrap: wrap;
      }

      &__require {
        flex-basis: 48%;
      }

      &__payment {
        flex-basis: 48%;
      }

      &__description {
        flex-basis: 100%;
      }
    }
  }
}
