<div class="add-order-wrapper">
  <p-steps
    [model]="items"
    [readonly]="false"
    [activeIndex]="activeIndex"
    (activeIndexChange)="onActiveIndexChange($event)"
    styleClass="mt-3 mb-3"
  ></p-steps>
  <div class="add-order-wrapper__forms forms">
    <div *ngIf="activeIndex === 0" class="forms__customer">
      <div class="item-wrapper">
        <h3 class="mb-3">Klient</h3>
        <div class="item-wrapper__buttons">
          <p-button
            type="button"
            label="Pobierz"
            (click)="getCustomer($event, 'client')"
          >
          </p-button>
          <p-button
            type="button"
            label="Dodaj"
            (click)="addCustomer($event, 'client')"
          >
          </p-button>
        </div>
        <div *ngIf="client" class="item-wrapper__details item-details mt-3">
          <div class="item-details__wrapper">
            <p>Nazwa:</p>
            <span>{{ client?.name }}</span>
          </div>
          <div class="item-details__wrapper">
            <p>Adres:</p>
            <span>{{ client?.adress }}</span>
          </div>
          <div class="item-details__wrapper">
            <p>NIP:</p>
            <span>{{ client?.vat }}</span>
          </div>
          <div class="item-details__wrapper">
            <p>eMail:</p>
            <span>{{ client?.email }}</span>
          </div>
          <div class="item-details__wrapper">
            <p>Telefon:</p>
            <span>{{ client?.phone }}</span>
          </div>
        </div>
      </div>
      <div class="item-wrapper">
        <h3 class="mb-3">Przewoźnik</h3>
        <div class="item-wrapper__buttons">
          <p-button
            type="button"
            label="Pobierz "
            (click)="getCustomer($event, 'carrier')"
          >
          </p-button>
          <p-button
            type="button"
            label="Dodaj "
            (click)="addCustomer($event, 'carrier')"
          >
          </p-button>
        </div>
        <div *ngIf="carrier" class="item-wrapper__details item-details mt-3">
          <div class="item-details__wrapper">
            <p>Nazwa:</p>
            <span>{{ carrier?.name }}</span>
          </div>
          <div class="item-details__wrapper">
            <p>Adres:</p>
            <span>{{ carrier?.adress }}</span>
          </div>
          <div class="item-details__wrapper">
            <p>NIP:</p>
            <span>{{ carrier?.vat }}</span>
          </div>
          <div class="item-details__wrapper">
            <p>eMail:</p>
            <span>{{ carrier?.email }}</span>
          </div>
          <div class="item-details__wrapper">
            <p>Telefon:</p>
            <span>{{ carrier?.phone }}</span>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="activeIndex === 1" class="forms__order">
      <!-- <div *ngIf="!client && !carrier">
        <h2 class="mt-4">
          Klient i Przewoźnik musi być wprowadzony!
        </h2>
      </div> -->

      <!-- *ngIf="client && carrier" -->
      <div class="add-order-form-wrapper">
        <form [formGroup]="orderForm" (ngSubmit)="addOrder()">
          <div class="add-order-form-wrapper__pickup">
            <div class="input-column-wrapper">
              <label class="input-label">Data załadunku</label>
              <p-calendar
                [(ngModel)]="loadDate"
                [showIcon]="true"
                [showTime]="true"
                [showButtonBar]="true"
              ></p-calendar>
            </div>
            <div class="input-column-wrapper">
              <label class="input-label">Miejsce załadunku</label>
              <app-input
                [control]="loadPlace"
                [type]="'text'"
                [placeholder]="'Wpisz nazwę'"
              ></app-input>
            </div>
            <div class="input-column-wrapper">
              <label class="input-label">Adres załadunku</label>
              <app-input
                [control]="loadAddress"
                [type]="'text'"
                [placeholder]="'Wpisz adres'"
              ></app-input>
            </div>
          </div>
          <div class="add-order-form-wrapper__delivery">
            <div class="input-column-wrapper">
              <label class="input-label">Data rozładunku</label>
              <p-calendar
                [(ngModel)]="unloadDate"
                [showIcon]="true"
                [showTime]="true"
                [showButtonBar]="true"
              ></p-calendar>
            </div>
            <div class="input-column-wrapper">
              <label class="input-label">Miejsce rozładunku</label>
              <app-input
                [control]="unloadPlace"
                [type]="'text'"
                [placeholder]="'Wpisz nazwę'"
              ></app-input>
            </div>
            <div class="input-column-wrapper">
              <label class="input-label">Adres rozładunku</label>
              <app-input
                [control]="unloadAddress"
                [type]="'text'"
                [placeholder]="'Wpisz adres'"
              ></app-input>
            </div>
          </div>

          <div class="add-order-form-wrapper__goods">
            <div class="input-column-wrapper">
              <label class="input-label">Towar</label>
              <app-input
                [control]="goods"
                [type]="'text'"
                [placeholder]="'Wpisz nazwę'"
              ></app-input>
            </div>
            <div class="input-column-wrapper">
              <label class="input-label">Wymiary</label>
              <app-input
                [control]="dimension"
                [type]="'text'"
                [placeholder]="'Wpisz nazwę'"
              ></app-input>
            </div>
            <div class="input-column-wrapper">
              <label class="input-label">Waga</label>
              <app-input
                [control]="weight"
                [type]="'text'"
                [placeholder]="'Wpisz adres'"
              ></app-input>
            </div>
          </div>

          <div class="add-order-form-wrapper__driver">
            <div class="input-column-wrapper">
              <label class="input-label">Kierowca</label>
              <app-input
                [control]="driver"
                [type]="'text'"
                [placeholder]="'Wpisz nazwę'"
              ></app-input>
            </div>
            <div class="input-column-wrapper">
              <label class="input-label">Pojazd</label>
              <app-input
                [control]="truck"
                [type]="'text'"
                [placeholder]="'Wpisz nazwę'"
              ></app-input>
            </div>
          </div>

          <div class="add-order-form-wrapper__buttons">
            <p-button
              type="submit"
              styleClass="p-button-secondary mr-4"
              label="Wyczyść"
            >
            </p-button>
            <p-button
              type="submit"
              class=""
              [disabled]="orderForm.invalid || inSubmission"
              label="Dalej"
            >
            </p-button>
          </div>
        </form>
      </div>
    </div>
    <div *ngIf="activeIndex === 2" class="forms__condition">CCC</div>
  </div>
</div>
<app-add-customer-modal
  (addUpdate)="addUpdate($event)"
  [kindOfCustomer]="kindOfCustomer"
></app-add-customer-modal>
<app-get-customer-modal
  (getUpdate)="addUpdate($event)"
  [kindOfCustomer]="kindOfCustomer"
></app-get-customer-modal>
