<div class="page-wrapper">
  <h2 class="page-title mb-4">Zlecenia</h2>
  <div class="buttons">
    <p-button
      type="button"
      class=""
      label="Dodaj zlecenie"
      routerLink="../add-order"
    >
    </p-button>
    <p-multiSelect
      [options]="cols"
      [(ngModel)]="selectedColumns"
      optionLabel="header"
      placeholder="Wybierz kolumny">
  </p-multiSelect>
  </div>
  <div class="tables mt-4">
    <p-table
      *ngIf="allOrders && allOrders.length > 0"
      #ordersTb
      [value]="allOrders"
      dataKey="id"
      [rows]="10"
      [showCurrentPageReport]="true"
      [rowsPerPageOptions]="[10, 25, 50]"
      [paginator]="true"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      [globalFilterFields]="['name', 'adress', 'vat']"
    >
      <!-- [loading]="loading" -->
      <ng-template pTemplate="caption">
        <div class="flex">
          <button
            pButton
            label="Clear"
            class="p-button-outlined"
            icon="pi pi-filter-slash"
            (click)="clear(ordersTb)"
          ></button>
          <span class="p-input-icon-left ml-auto">
            <i class="pi pi-search"></i>
            <input
              pInputText
              type="text"
              placeholder="Wyszukaj"
              (input)="handleInput($event)"
            />
          </span>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th *ngFor="let col of selectedColumns">
            {{ col.header }}
          </th>
          <!-- <th pSortableColumn="orderDetails.loadPlace" style="min-width: 15rem">
            <div class="flex align-items-center">
             Załadunek
              <p-sortIcon field="orderDetails.loadPlace"></p-sortIcon>
            </div>
          </th>
          <th pSortableColumn="orderDetails.unloadPlace" style="min-width: 15rem">
            <div class="flex align-items-center">
             Rozładunek
              <p-sortIcon field="orderDetails.lunloadPlace"></p-sortIcon>
            </div>
          </th> -->
          <th>
            <div class="flex align-items-center">Opcje</div>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-order>
        <tr>
          <!-- <td>
            {{ order?.orderDetails?.loadPlace }}
          </td>
          <td>
            {{ order?.orderDetails?.unloadPlace }}
          </td> -->
          <td *ngFor="let col of selectedColumns">
            {{ resolveField( order, col.field) }}
          </td>

          <td style="width: 5rem">
            <!-- <i
              pTooltip="Edytuj"
              tooltipPosition="top"
              class="pi pi-pencil table-icon"
              (click)="editCustomer($event, customer)"
            ></i>
            <i
              pTooltip="Usuń"
              tooltipPosition="top"
              style="margin-left: 1rem"
              class="pi pi-trash table-icon"
              (click)="openConfirmationModal($event, customer)"
            ></i> -->
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="7">No customers found.</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
<!-- <app-add-customer-modal
  (addUpdate)="addUpdate($event)"
></app-add-customer-modal>
<app-edit-customer-modal
  (editUpdate)="editUpdate($event)"
  [activeCustomer]="activeCustomer"
></app-edit-customer-modal>
<app-confirmation-modal
  (confirmationFn)="deleteConfirmed($event)"
  [activeCustomer]="activeCustomer"
  [confirmationMessage]="confirmationMessage"
  confirmationAcceptLabel="Usuń"
></app-confirmation-modal> -->
