/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/luna-blue/theme.css";
@import "primeng/resources/primeng.min.css";
@import "primeicons/primeicons.css";
@import "primeflex/primeflex.css";
@import "./assets/styles/index.scss";
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

* {
  color: $contentColor;

  ul,
  li {
    list-style: none;
  }

  a {
    text-decoration: none;
  }
}

body {
  font-family: "Lato", sans-serif;
}
