@import "./variables.scss";

@mixin links {
  @media screen and (min-width: map-get($break-points, large)) {
    &:hover {
      color: $hoverLinkColor;
      transition: $transition;
    }
  }
}

@mixin pageWrapper {
  width: 100%;
  height: calc(100% - $navComponentHeight);
  padding: $pagePadding;
}
