@import "./reset";
@import "./variables";
@import "./mixins";

.p-datatable {
  border: 1px solid $tableBorder !important;
  border-radius: $ownRadius;
}

.p-datatable .p-datatable-header {
  background: transparent !important;
  border-top-left-radius: $ownRadius;
  border-top-right-radius: $ownRadius;
  border-top: none !important;
}

.p-datatable > .p-datatable-wrapper {
}
.p-datatable .p-datatable-thead > tr > th {
  background: $tableHeaderBackground !important;
}

.p-datatable .p-datatable-tbody {
  tr:nth-child(even) {
    background: $tableBackground !important;
  }

  tr:nth-child(odd) {
    background: $tableOddBackground !important;
  }
}

.p-datatable .p-paginator-bottom {
  background: transparent !important;
  border-bottom: none !important;
}
